@import "flag-icons/css/flag-icons.min.css";
@import "tailwindcss";

@layer components {
  .section {
    @apply flex w-full flex-col items-center p-4 text-center md:p-8 lg:p-16;
    @apply scroll-mt-20 md:scroll-mt-40;
  }

  .color-zinc {
    @apply bg-zinc-900 text-white;
  }

  .color-yellow {
    @apply bg-yellow-400 text-black;
  }
}
